<div class="center">
    <h3 style="color: red;">Log In</h3>
    <form (ngSubmit)="login()">
        <div class="form-group ">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" aria-describedby="userHelp" placeholder="Enter Username" name="username" [(ngModel)]="username" #name="ngModel">
            <small *ngIf="username.length == 0" id="userHelp" style="color: red;">*Please Enter Username</small>
        </div>
        <br>
        <div class="form-group ">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" aria-describedby="passwordHelp" placeholder="Enter Password" name="password" [(ngModel)]="password" #name="ngModel">
            <small *ngIf="password.length == 0" id="passwordHelp" style="color: red;">*Please Enter Password</small>
        </div>
        <br>
        <div class="text-center">
            <button class="btn btn-primary btn-block" type="submit">Login</button>
        </div>
    </form>
</div>