
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand"><b>SK Medicine Shop</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" 
        aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor03" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['medicineList']">Medicines List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['addMedicine']">Add Medicine</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['billSection']">Billing Section</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['transactionHistory']">Transaction History</a>
          </li>
        </ul>
        <button class="d-flex btn btn-danger" id="loginButton" [routerLink]="['login']" *ngIf="!authentication.isLoggedIn(); else elseBlock">{{ loginAdmin }}</button>&nbsp;
        <ng-template #elseBlock><div class="d-flex" style="color: white;"><b>Admin</b></div></ng-template>&nbsp;
        <button class="d-flex btn btn-success" (click)="logOut()">Log Out</button>
      </div>
    </div>
  </nav>

  