<div class="container-fluid">
    <table class="table">
        <thead class="table-primary">
            <tr>
                <td><b>Medicine Id</b></td>
                <td><b>Medicine Name</b></td>
                <td><b>Medicine Composition</b></td>
                <td><b>Medicine Quantity</b></td>
                <td><b>Medicine Price</b></td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let medicine of searchedMedicines">
                <td>{{ medicine.med_id }}</td>
                <td>{{ medicine.med_name }}</td>
                <td>{{ medicine.med_composition}}</td>
                <td>{{ medicine.med_quantity }}</td>
                <td>{{ medicine.med_price | currency: 'INR'}}</td>
                <td><button class="btn btn-success"  [routerLink]="['editMedicine',medicine.med_id]">Edit</button></td>
                <td><button class="btn btn-danger" (click)="delete(medicine)">Delete</button></td>
            </tr>
        </tbody>
    </table>

</div>
 